<header>
  <div class="container">
    <div class="logo-container">
    <a href="#"  class="logo">BANKAPP</a>
    <span>Powered by Conecta</span>
  </div>
    <nav>
      <ul>
        <li class="active"><a href="#" routerLink="/"><span>Mis cuentas</span></a></li>
        <li class="non-active"><a href="#" routerLink="/form"><span>Enviar Dinero</span></a></li>
      </ul>
    </nav>
    <div class="user-info">
      <p id="nombre" *ngIf='accounts'>{{accounts.cuenta[0].nombre}}</p>
      <p id="sesion" *ngIf='accounts'> Ultimo inicio {{accounts.cuenta[0].ultimaSesion.slice(0,-9)}} </p>
    </div>
  </div>
</header>
  <div class="saldos-container">
    <div class="card">
      <p>SALDO GENERAL<br>EN CUENTAS</p>
      <p *ngIf='saldos'>{{saldos.saldos[0].saldoGeneral | currency}} </p>
    </div> 
    <div class="card">
      <p>TOTAL DE<br>INGRESOS</p>
      <p *ngIf='saldos'>{{saldos.saldos[0].ingresos | currency}} </p>
    </div>
    <div class="card">
      <p>TOTAL DE<br>GASTOS</p>
      <p *ngIf='saldos'>{{saldos.saldos[0].gastos | currency}} </p>
    </div>
  </div>
  <div class="third-container">
    
    <div class="tarjetas-container">
      <div class="tarjeta">
        <div class="status">
          <span *ngIf="creditCard">{{creditCard.tarjetas[0].estado}}</span>
        </div>
        <div class="num-tarjeta">
          <span *ngIf='creditCard'>{{creditCard.tarjetas[0].tarjeta}}</span>
        </div>
        <div class="nom-titular">
          <span *ngIf="creditCard">{{creditCard.tarjetas[0].nombre}}</span>
        </div>
        <div class="titulo">
          <span *ngIf="creditCard">{{creditCard.tarjetas[0].tipo}}</span>
        </div>
        <div class="saldo-tarjeta">
          <span *ngIf="creditCard">{{creditCard.tarjetas[0].saldo | currency}}</span>
        </div>
        <div class="tarjeta-logo">
          <picture>
            <img src="../assets/mastercard.svg" alt="mastercard">
          </picture>
        </div>
      </div>
         <div class="tarjeta" *ngIf="creditCard" [class.filter]="creditCard.tarjetas[1].estado==='desactivada'">
        <div class="status">
          <span *ngIf="creditCard">{{ creditCard.tarjetas[1].estado }}</span>
        </div>
        <div class="num-tarjeta">
          <span *ngIf='creditCard'>{{creditCard.tarjetas[1].tarjeta}}</span>
        </div>
        <div class="nom-titular">
          <span *ngIf='creditCard'>{{creditCard.tarjetas[0].nombre}}</span>
        </div>
        <div class="titulo">
          <span *ngIf='creditCard'>{{creditCard.tarjetas[0].tipo}}</span>
        </div>
        <div class="saldo-tarjeta">
          <span *ngIf='creditCard'>{{creditCard.tarjetas[0].saldo | currency}}</span>
        </div>
        <div class="tarjeta-logo">
          <picture>
            <img src="../assets/mastercard.svg" alt="mastercard">
          </picture>
        </div>
      </div>
      <button  (click)="openModal()" >
        <span>Agregar tarjeta</span>
        <picture>
          <img src="../assets/add.svg" alt="add-btn">
        </picture>
      </button>
    </div>
    <div class="mov-wrapper">
    <h2>Movimientos</h2>
    <div class="movimientos-container">
    <table>
  <tr>
    <th>Fecha</th>
    <th>Descripción</th>
    <th>Monto</th>
  </tr>
  <ng-container *ngIf="movements">
  <tr *ngFor="let move of movements.movimientos">
    <td >{{move.fecha}}</td>
    <td>{{move.descripcion}}</td>
    <td>{{move.monto}}</td>
    <td class="blue" [class.red]="move.tipo === 'cargo'">{{move.monto | currency}}</td>
  </tr>
</ng-container>
</table>
</div>
  </div>
  </div>
 <router-outlet></router-outlet>