<header>
  <div class="container">
    <div class="logo-container">
    <a href="#"  class="logo">BANKAPP</a>
    <span>Powered by Conecta</span>
  </div>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Mis cuentas</a></li>
        <li><a href="#" routerLink="/">Enviar Dinero</a></li>
      </ul>
    </nav>
    <div class="user-info">
      <p id="nombre" *ngIf='accounts'>{{accounts.cuenta[0].nombre}}</p>
      <p id="sesion" *ngIf='accounts'> Ultimo inicio {{accounts.cuenta[0].ultimaSesion.slice(0,-9)}} </p>
    </div>
  </div>
  <div class="saldos-container">
    <div class="card">
      <p>SALDO GENERAL<br>EN CUENTAS</p>
      <p *ngIf='saldos'>{{saldos.saldos[0].saldoGeneral | currency}} </p>
    </div>
    <div class="card">
      <p>TOTAL DE<br>INGRESOS</p>
      <p *ngIf='saldos'>{{saldos.saldos[0].ingresos | currency}} </p>
    </div>
    <div class="card">
      <p>TOTAL DE<br>GASTOS</p>
      <p *ngIf='saldos'>{{saldos.saldos[0].gastos | currency}} </p>
    </div>
  </div>
  <div class="third-container">
    <div class="tarjetas-container">
      <div class="tarjeta">
        <div class="status">
          <span>Activa</span>
        </div>
        <div class="num-tarjeta">
          <span>5439 - 2403 - 1234 - 1234</span>
        </div>
        <div class="nom-titular">
          <span>John Doe</span>
        </div>
        <div class="titulo">
          <span>Titular</span>
        </div>
        <div class="saldo-tarjeta">
          $1,200.00
        </div>
        <div class="tarjeta-logo">
          <picture>
            <img src="../assets/mastercard.svg" alt="mastercard">
          </picture>
        </div>
      </div>
         <div class="tarjeta">
        <div class="status">
          <span>Activa</span>
        </div>
        <div class="num-tarjeta">
          <span>5439 - 2403 - 1234 - 1234</span>
        </div>
        <div class="nom-titular">
          <span>John Doe</span>
        </div>
        <div class="titulo">
          <span>Titular</span>
        </div>
        <div class="saldo-tarjeta">
          $1,200.00
        </div>
        <div class="tarjeta-logo">
          <picture>
            <img src="../assets/mastercard.svg" alt="mastercard">
          </picture>
        </div>
      </div>
    </div>
    <div class="movimientos-container">
      <h2>Movimientos</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

    </div>
  </div>


</header>



<router-outlet></router-outlet>